DATABASE_URL=postgresql+asyncpg://epom:epom@db:5432/epom
SECRET_KEY=changemechangemechangemechangeme
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
APP_ENV=dev_or_prod
RESEND_API_KEY=re_some_gibberish
SENDER_EMAIL=onboarding@resend.dev
APP_URL=http://localhost:8000
AWS_ACCESS_KEY_ID=KJSDFLSJDFLSJDFLSJDF
AWS_SECRET_ACCESS_KEY=jXUoI4T6sTAi2H5vdsRMqKTRY0FY2JbvdsRMq
AWS_REGION=eu-central-1
S3_BUCKET_NAME=sth-732734345328-eu-central-1-an